<div class="card">
  <div class="card-header">
    <div class="row">
      <p><div class="ml-3 mr-3 round-color"style="background-color:<%= round.color_hex(round.color)%>"></div></p>
      <h5 class="text-dark">Round <%= round.id%></h5>
    </div>
  </div>
  <div class="card-body">
    <p><span class="text-dark font-weight-bold">winners:</span>
      <% round.winners.each do |gamble|%>
        <%= link_to gamble.player.name, player_path(gamble.player), class: 'text-secondary'%>
        <span class="card-text text-info">$<%= gamble.player.cash%></span>
      <% end %>
      <p class="text-success"><span class="text-dark font-weight-bold">total prize: </span>$<%= round.total_amount%></p>
    </p>
  </div>
</div>