<div class="bg-light pt-3 pb-3">
  <div class="container" id="table">
    <h5 class="float-right"> <%= @weekly_weather.max_temperature %>°C</h5>
    <div class="row">
      <h2 class="pl-5"><i>Zelda Players</i></h2>
      <div class= "row ml-1 mr-1">
        <h3 class="text-success  ml-3 mr-3 timer">...</h3>
      </div>
    </div>
    <p class="pl-5 text-secondary"><i>Welcome! </i>Here you can monitor this table rounds & players</p>
    <div class="col-md-8 offset-md-4">
      <div class="row">
        <h3 class="text-info pl-2 pr-5" id="feedback"></h3>
        <div class="spinner-border text-warning d-none" role="status" id="rulet">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <p class="text-secondary pl-5" id="feedback-time"><i></i></p>
    </div>
    <div class="row pl-5" id="round-rulet">
    </div>
  <div class="row pl-5" id="round" data-current-round="<%=@round.id%>">
    <% if @players %>
      <% @players.each do |player| %>
        <div class="player">
          <div class="col-md-12">
            <%# <div class="row clearfix">
              <button type="button" class="close float-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> %>
            <div class="row">
              <%= link_to player.name, player_path(player), class: 'btn btn-info' %>
              <div class="bet-color ml-3" style="background-color: <%=player.gamble_color(@round.id)%>"></div>
            </div>
            <h5 class="text-dark pt-3 cash">cash: $<%= player.cash%></h5>
            <h5 class="text-dark bet-amount">bet: <%= player.bet(@round.id)%></h5>
            <h5 class="text-dark prize">prize: $<%= player.prize(@round.id)%></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
<div class="container mt-3">
  <h2 class="text-center">Previous rounds</h2>
  <div class="card-columns infinity-rounds"></div>
</div>
<%= render 'rounds'%>