<div class="bg-light pt-3 pb-3">
  <div class="container" id="table">
    <h5 class="float-right"> <%= @weekly_weather.max_temperature %>°C</h5>
    <div class="row">
      <h2 class="pl-5"><i>Zelda Players</i></h2>
      <div class= "row ml-1 mr-1">
        <h3 class="text-success  ml-3 mr-3 timer">3m:0s</h3>
        <span class="card-title ml-3" id="round-title"></span>
        <div class="row ml-5 round-rulet d-none">
          <h3>round result: </h3>
          <div class="round-result ml-3"></div>
        </div>
      </div>
    </div>

    <div class="row pl-5" id="round" data-current-round="<%=@round.id%>">
      <% if @players %>
        <% @players.each do |player| %>
          <div class="player">
            <div class="col-md-12">
              <%= link_to player.name, player_path(player), class: 'card-link text-center' %>
              <h5 class="bet-amount">cash: $<%= player.cash%></h5>
              <h5 class="bet-amount">bet: $<%= player.cash%></h5>
              <div class="row">
                <h5 class="ml-3">color: </h5>
                <div class="bet-color ml-3" style="background-color: <%=player.gamble_color(@round.id)%>"></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <div class="mt-3 mb-3"></div>
    </div>
  </div>
</div>
<div class="container mt-3">
<div class="card-columns infinity-rounds"></div>
</div>
<%= render 'rounds'%>