<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%=@player.name%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%=@player.email%></h6>
      <h5 class="card-title">$<%=@player.cash%></h5>
      <%= link_to 'Edit', edit_player_path(@player), class: "btn btn-info"%>
      <%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>

    </div>
  </div>
</div>